APP_NAME="Basic Schools Record Management System"
SCHOOL="Learners Bridge Academy"
APP_URL="http://localhost:8000"
APP_ENV=development
APP_DEBUG=true


DB_HOST=
DB_NAME=
DB_USER=root
DB_PASS=
DB_DRIVER=mysql

JWT_SECRET=your_super_secret_key

# MoMo Sandbox Keys
MOMO_API_USER=...
MOMO_API_KEY=...
MOMO_COLLECTION_URL=https://sandbox.mtnmomoapi.mtn.com/collection
